<!DOCTYPE html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    td {
      border: 1px solid black;
    };
    .title1 {
      font-weight: bold;
      background-color: #f00;
    }
    button {
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Rehabilitation Training</h1>
    <h2>Exercise Table</h2>
    <table>
      <tr class="title1">
        <td>Exercise List</td>
        <td>Count</td>
        <td>Set</td>
      </tr>
      <tr v-for="(exercise, index) in exercises">
        <td>
          {{ `${index + 1}. ${exercise.text}` }}
        </td>
        <td>
          <input type="number" v-model="exercise.count">
        </td>
        <td>
          <input type="number" v-model="exercise.set">
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button @click="recorded = true">Record</button>
          <button @click="clearTable">Clear Table</button>
          <button @click="recorded = false">Clear Record</button>
        </td>
      </tr>
    </table>
    <h2>Today Record</h2>
    <!-- input의 0이 sting으로 비교돼서 !== 0 대신 != 씀 -->
    <ul 
      v-for="exercise in exercises"
      v-if="
        exercise.count != 0 && exercise.count !== ''
        && exercise.set != 0 && exercise.set !== ''
        && recorded
      "
    >
      <li>{{ `${exercise.text} ${exercise.count}회 x ${exercise.set}세트` }}</li>
    </ul>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        exercises: [
          { text: '발뒤꿈치 밀어서 무릎 굴곡', count: 0, set: 0, },
          { text: '플렉스해서 무릎 아래누르기', count: 0, set: 0, },
          { text: '플렉스 포인 반복', count: 0, set: 0, },
          { text: '무릎에 롤대고 신전', count: 0, set: 0, },
          { text: '뒤로 팔꿈치 대고 다리올리기 반대 무릎만큼 천천히 내리기', count: 0, set: 0, },
          { text: '롤에 발목대고 중력으로 신전', count: 0, set: 0, },
        ],
        input: "text",
        recorded: false,
      },
      methods: {
        clearTable: function() {
          // for (let index = 0; index < this.exercises.length; index++) {
          //   const element = this.exercises[index];
          //   element.count = 0;
          //   element.set = 0;
          // }
          for (const iterator of this.exercises) {
            iterator.count = 0;
            iterator.set = 0;
          }
        },
      },
    })
  </script>
</body>

</html>